#banner {

  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.devil {
  
}

#point {
  background-image: url(/image/devil.jpeg);
 width: 500px;
  
}

nav {
  display: flexbox;
  justify-content: space-between;
  text-align: center;
  margin:  auto;
  }

  a {
    color: rgb(240, 131, 123);
  }

  .col-6 {
    border: solid;
  }