#banner {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pg {
  width: 200px;
  float: left;
  border: solid;
  border-radius: 10px;
}

#pgright {
  width: 200px;
  float: right;
  border: solid;
  border-radius: 10px;
}

ol, ul, h3, .pgtext, .github, span{
  text-align: center;
}
.pgtext{
  text-align: center;
}

#point {
  background-image: url(/image/devil.jpeg);
 width: 50%;
 height: 50%;
 margin-left: 25vw;
}

nav {
  display: flexbox;
  justify-content: space-between;
  text-align: center;
  margin:  auto;
}

li {
    list-style-type: none;
}

.paragraph{
  padding-left: 15px;
}